# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
venv/
.env/
.env.*
.venv/


# =========================
# VS Code
# =========================
.vscode/
*.code-workspace

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
logs/

.env
replace.txt

# Python
__pycache__/
*.pyc
venv/

# Environment variables
.env

# Secrets / temp
replace.txt

# OS
.DS_Store
